<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/about.css">
    <title>About us</title>
</head>
<body>
    <div>
        <h1 class="center">
           MEJOR CONOCIDO COMO CHESPIRITO
        </h1>
    </div>
    
    <div class="foto">
        <img src="../images/chespirito2.jpeg" class="color" width="400" alt="Chespirito">
        <img src="../images/televisa.jpeg" class="color2" width="400" alt="televisa">
    </div>


        <div class="centro">
           <p>
               Mi nombre es Roberto Gomez Bolaños y naci el 21 de Febrero de 1929,Ciudad de Mexico.
               Empece mi carrera como escritor y fui contratado por televisa. Cuando emepce era solo un escritor
               haciendo sketches.El tiempo paso y Televisa vio mi potencial y despues nacio mi primer programa 
               <b>LOS CAQUITOS DE LA MESA CUADRADA.</b> Tiempo despues saldria <b>EL CHAPULIN COLORADO</b> que salio
                en los años 1972 a 1979 y fue bien resibido por toda la gente. 
               Al mismo Tiempo salio mi mas exitoso programa como director de la serie 
               <b>EL CHAVO DEL OCHO</b> en el año de Abril 27,1972 y termino en el Año Junio 12, 1992. 
            </p>
        </div>

        <div>
            <div class="moved">
                <a href="/works">
                <button>Mas Sobre Mi</button></a>
            </div>
        </div>
</body>
</html>