<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/works.css">
    <title>Work Done</title>
</head>
<body>
   <div class="center">
      <h1>PROGRAMAS MAS EXITOSOS</h1>
   </div>
    
<div class="position">
    <div>   
        <h3>
            LOS CAQUITOS DE LA MESA CUADRADA
        </h3>
         <img src="../images/los-caquitos.jpeg" width="400" alt="caquitos">
         <p> <b>Los supergenios de la Mesa Cuadrada fue un programa televisivo mexicano realizado desde el año 1970 hasta 1971,
            pero el sketch comenzó en 1968 en el programa Sábados de la fortuna y 
            finalizó en el programa Chespirito y la mesa cuadrada en 1971, cuyo creador fue Roberto Gómez Bolaños. </b></p>
    </div>
      
      <div>
        <h3> 
            EL CHAVO DEL OCHO
        </h3>
        <img src="../images/chavo.jpeg" width="400" alt="el chavo">
        <p><b> El Chavo del 8 es una serie de televisión cómica mexicana creada y protagonizada por Roberto Gómez Bolaños, 
            producida por Televisión Independiente de México (más tarde, Televisa). Fue emitida como serie independiente el
             26 de febrero de 1973 por Canal 8 y finalizó el 7 de enero de 1980 y tubo final en el año 1992</b></p>
      </div>

      <div>
        <h3> 
            CHAPULIN COLORADO
        </h3>
        <img src="/images/chapulin.webp" width="400" alt="chapulin">
        <p><b> El Chapulín Colorado es una serie de televisión cómica mexicana, 
            creada por Roberto Gómez Bolaños como una parodia al género de los superhéroes. La serie fue transmitida entre 1972 y 1979,
             logrando gran popularidad al igual que su serie contemporánea El Chavo del Ocho, siendo la primera serie de Chespirito en ser vendida al extranjero.</b></p>
      </div>
</div>
      <div class="regresar">
         <a href="/main-page">
            <button>Regresar al MENU</button></a>
      </div>    
</div>   
</body>
</html>